body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;
}

.reg-form{
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2%;

  margin:3%;
  padding: 2%;

  border: 1px solid #555;
  border-radius: 10px;

  background-color: #f0f0f0;

  width: 40%;
}

.reg-form input{
  width: 40%;
}

.reg-form button{
  width: 25%;
  background-color: rgb(34, 34, 34);
  color: aliceblue;
}

.reg-form a{
  text-decoration: none;
  color: blue;
}

.reg-form a:hover{
  text-decoration: underline;
  color: blue;
}

.show{
  display: flex;
  align-items: flex-end;
}